<link href='../bower_components/polymer/polymer.html' rel="import">
<link href='../bower_components/paper-item/paper-item.html' rel="import">
<link href='../bower_components/core-collapse/core-collapse.html' rel="import">

<polymer-element name="ma-condition-info" attributes="conditionName detail transmission treatment">
  <template>
    <style>
      .label {
        font-weight: 700;
      }
    </style>

    <paper-item on-click={{toggle}}>
      {{conditionName}}
    </paper-item>
    <core-collapse id="info">
      <div layout vertical>
        <template if={{detail}}>
          <div>
            {{detail}}
          </div>
        </template>
        <template if={{transmission}}>
          <div>
            <div class="label">Transmission</div>
            {{transmission}}
        </div>
        </template>
        <template if={{treatment}}>
          <div>
            <div class="label">Treatment</div>
            {{treatment}}
          </div>
        </template>
        <content></content>
      </div>
    </core-collapse>
  </template>
  <script>
    Polymer("ma-condition-info", {
      toggle: function() {
        var infoNode = this.shadowRoot.querySelector("#info");
        infoNode.toggle();
      }
    });
  </script>
</polymer-element>
