<link href='../bower_components/polymer/polymer.html' rel="import">

<polymer-element name="ma-question-option" attributes="option">
  <template>
    <style>
      paper-button {
        height: 100px;
        width: 100px;
        background: red;
        border-radius: 50px;
        border: 10px solid white;
        text-transform: capitalize;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      paper-button.active {
        background-color: white;
      }
    </style>
    <paper-button layout vertical center center-justified
      on-click={{toggle}} class='{{chosen ? "active" : ""}}'>
      {{value}}
    </paper-button>
  </template>
  <script>
    Polymer("ma-question-option", {
      ready: function() {
        this.chosen = false;
        this.value = this.option.replace(/^\s+|\s+$/g, "");
      },
      toggle: function() {
        this.chosen = !this.chosen;
        this.fire("chosen", {
          chosen: this.chosen,
          value: this.value
        });
      }
    });
  </script>
</polymer-element>
