<link href='../bower_components/polymer/polymer.html' rel="import">
<link href='../bower_components/paper-button/paper-button.html' rel="import">
<link href='./ma-question-option.html' rel="import">

<polymer-element name="ma-question" attributes="question options choice">
  <template>
    <style>
      :host {
        height: 100%;
        width: 100%;
        position: relative;
      }
      #question {
        padding-top: 30px;
        padding-bottom: 30px;
        height: 80px;
        color: white;
        background-color: purple;
        width: 100%;
      }
      #responses {
        position: relative;
        top: -50px;
      }
      ma-question-option:not(:last-child) {
        margin-right: 15px;
      }
    </style>

    <div layout vertical center>
      <div id="question" layout horizontal center-justified>
        {{question}}
      </div>
      <div id="responses" layout horizontal around-justified>
        <template repeat="{{option in options}}">
          <ma-question-option>
            {{option}}
          </ma-question-option>
        </template>
      </div>
    </div>
  </template>
  <script>
    Polymer("ma-question", {
      ready: function() {
      }
    });
  </script>
</polymer-element>
