<link href='../bower_components/polymer/polymer.html' rel="import">
<link href='../bower_components/core-animated-pages/core-animated-pages.html' rel="import">
<link href='../bower_components/core-animated-pages/transitions/slide-from-bottom.html' rel="import">
<link href='../bower_components/paper-button/paper-button.html' rel="import">
<link href='../bower_components/paper-fab/paper-fab.html' rel="import">
<link href='../bower_components/core-icons/core-icons.html' rel="import">
<link href='./ma-question.html' rel="import">
<link href='./ma-condition-info.html' rel="import">


<polymer-element name="ma-questions" attributes="started">

  <template>

    <style>
      #begin {
        width: 100px;
        background: #134659;
        color: white;
      }
      :host {
        height: 100%;
        width: 100%;
        position: relative;
      }
      core-animated-pages {
        height: 100%;
        width: 100%;
        overflow: hidden;
      }
      section > *:first-child {
        overflow-y: auto;
      }
      paper-button {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    </style>

    <template id="condoms">
      <h3>
        Condoms
      </h3>
      <p>
        The best strategy for safer sex is to always use a condom. Make sure that you use correctly sized condoms as this can reduce the chance of breakage. 
        They have been proven to be highly effective at both preventing STIs including HIV, as well as unplanned pregnancies.
      </p>
    </template>

    <template id="start-over">
      <paper-button class="start-over" on-click={{startOver}}>Start Over</paper-button>
    </template>


    <core-animated-pages id="pages" transitions="slide-from-bottom" layout vertical center center-justified>
      <section layout vertical center>
        <div>
          <div>
            Just had unsafe sex?
          </div>
          <div>
             We're here to help you decide what you need to do next to keep yourself healthy.
          </div>
          <div>
            100% Confidential
          </div>
        </div>
        <paper-button id="begin" on-click={{start}}>Begin</paper-button>
      </section>
      <section layout vertical center layout vertical center>
        <ma-question
         question="Have you recently had unprotected sex?"
         options={{["Yes","No","Unsure"]}}
         chosen={{unprotectedSex}}
         mode="single"
         required={{text}}
         on-next={{next}}
        >
        </ma-question>
        <template bind ref="start-over"></template>
      </section>
      <template if='{{unprotectedSex == "No"}}'>
        <section layout vertical center layout vertical center>
          <div flex>
            Good job on using protection.
            <template bind ref="condoms"></template>
          </div>
          <template bind ref="start-over"></template>
        </section>
      </template>
      <template if='{{unprotectedSex == "Unsure" || unprotectedSex == "Yes"}}'>
        <section layout vertical center>
          <ma-question
           question="What is your biological sex?"
           options={{["Male","Female","Intersex"]}}
           chosen={{selfSex}}
           mode="single"
           required=true
           on-next={{handleSelfSex}}
          >
          </ma-question>
          <template bind ref="start-over"></template>
        </section>
        <section layout vertical center>
          <ma-question
            question="What is the biological sex of your partner(s)?"
            options={{["Male","Female","Intersex"]}}
            chosen={{partnersSex}}
            mode="multiple"
            required=true
            on-next={{handlePartnerSex}}
          >
          </ma-question>
          <template bind ref="start-over"></template>
        </section>
        <section layout vertical center>
          <ma-question
            id="sexualActs"
            question="Which of these sexual acts did you engage in?"
            options={{possibleSexualActs}}
            chosen={{sexualActs}}
            mode="multiple"
            required={{false}}
            on-next={{handleSexualActs}}
          >
          </ma-question>
          <template bind ref="start-over"></template>
        </section>
      </template>
      <section layout vertical center>
        <div flex>
          <template if='{{sexualActs.length > 0}}'>
            <a layout horizontal center target="_blank" href="http://locator.aids.gov/">
              Find a health clinic near you (US Only)
              <paper-fab icon="link"></paper-fab>
            </a>
            <h1>
              You may be at risk of {{selfSex == "Female" ? "pregnancy and" : ""}} {{canHaveHIV ? "HIV" : "Gonorrhea"}} as well as other STIs.
              Seeking treatment quickly can {{canBePregnant ? "prevent pregnancy," : "" }}
              allow rapid recovery{{canHaveHIV ? ", and prevent permanent HIV infection" : "."}}
            </h1>

            <p>
              Here are three things to keep in mind as you consider your next steps.
            </p>
            <h3>
              Don't self diagnose
            </h3>
            <p>
              Self diagnosis is not wise as sexually transmitted diseases can have different symptoms for different people, and similar symptoms to other unrelated health problems. It is much better to get a diagnosis from a trained health professional - they can also help you access treatment. 
              Tell your partner
              It is important to inform your partners as soon as you test positive for STD so they can also get tested, get treatment and prevent the spread of the disease. If you would like to do this anonymously, you can used this tool.
              http://www.stdcheck.com/anonymous-notification.php
            </p>
            <h3>
              Tell your partner
            </h3>
            <p>
              It is important to inform your partners as soon as you test positive for STD so that they can also get tested, get treatment and prevent the spread of the condition. If you would like to do this anonymously, you can used this <a href="http://www.stdcheck.com/anonymous-notification.php">anonymous STI notification app</a>.
            </p>
            <template bind ref="condoms"></template>

            <h2>
              You may be at risk of the following conditions.:
            </h2>
            <p>
              You can click on each one to learn more about what they are, how they occur and treatment options available to you.
            </p>
            <div>
              <template if={{canBePregnant}}>
                <ma-condition-info id="hivInfo"
                  conditionName="Pregnancy"
                >
                  <p>
                    Having unprotected vaginal sex can lead to pregnancy. This is true at every point within a woman's menstrual cycle and even when the male partner does not ejaculate.
                  </p>
                  <p>
                    Because of this, women can get pregnant when they are not prepared for the immense responsibility of having a baby. 
                  </p>
                  <p>
                    To prevent pregnancy, even when you have had unprotected sex, you can take the morning-after pill up to 72 hours after intercourse. This pill is found over the counter in some places or you may need a prescription from a doctor.
                  </p>
                  <p>
                    If it has been longer than this, abortion may be an option for you. 
                  </p>
                </ma-condition-info>
              </template>
              <template if={{canHaveHIV}}>
                <ma-condition-info id="hivInfo"
                  conditionName="HIV"
                  detail="HIV if left untreated can cause progressive failure of the immune system allowing life-threatening opportunistic infections and cancers to thrive."
                  transmission="You can get herpes by having unprotected vaginal or anal sex with someone who has the disease. HIV affects people of all sexes and sexual orientations. There may have also been cases of HIV being transmitted through oral sex although this is exceptionally rare."
                  treatment="Today treatment consists of taking a number of antiretroviral pills every day to suppress the virus and significantly reduces the chance of further transmission - there is currently no way to completely get rid of HIV from the body." 
                >
                  <p>
                    If you think you are at risk of HIV, you can start a Post Exposure Prophylaxis (PEP) course within 48 hours of exposure which will significantly reduce your chances of contracting HIV. 
                  </p>
                  <p>
                    If you frequently engage in risky sexual behavior, consult with a doctor about starting a Pre Exposure Prophylaxis (PREP) prescription. This is a daily pill which will significantly reduce the risk of you contracting HIV in the future. However, this should never be considered a substitute for condoms.
                  </p>
                  <p>
                    HIV can only be reliably detected 3 months after having been infected. In this period you may or may not experience acute retroviral syndrome, which has severe flu like symptoms. Unfortunately it is during the initial period after infection that you are most likely to transmit the virus. Therefore if you think you may be at risk of contracting HIV, consult a doctor immediately.
                  </p>
                </ma-condition-info>
              </template>
              <ma-condition-info id="chlamydia"
                conditionName="Chlamydia"
                detail="Chlamydial infections can cause serious reproductive and other health problems - especially for women."
                transmission="You can get chlamydia by having unprotected vaginal, anal, or oral sex with someone who has Chlamydia."
                treatment="It can be cured with antibiotics prescribed by a doctor and taken correctly."
              >
              </ma-condition-info>
              <ma-condition-info id="gonorrhea"
                conditionName="Gonorrhea"
                detail="Gonorrhea infections can cause epididymitis, pelvic inflammatory disease and affect joints and heart valves."
                transmission="You can get Gonorrhea by having unprotected vaginal, anal, or oral sex with someone who has Gonorrhea. Gonorrhea can also be transmitted through breast milk."
                treatment="It can be cured with antibiotics prescribed by a doctor and taken correctly."
              >
              </ma-condition-info>
              <ma-condition-info id="gential-herpes"
                conditionName="Genital Herpes"
                detail="Genital herpes sores can cause blister on or around the genitals, rectum or mouth."
                transmission="You can get herpes by having unprotected vaginal anal, or oral sex with someone who has the disease. You can get herpes from partners with or without obvious symptoms."
                treatment="There is no cure for Herpes, however, over time symptoms are increasingly mild and outbreaks are decreasingly frequent."
              >
              </ma-condition-info>
              <ma-condition-info id="syphilis"
                conditionName="Syphilis"
                detail="Syphilis infections, if left untreated, can cause rashes, chancres and neurological or cardiac symptoms."
                transmission="You can get Syphilis by having unprotected vaginal, anal, or oral sex with someone who has Syphilis."
                treatment="It can be cured with antibiotics prescribed by a doctor and taken correctly."
              >
              </ma-condition-info>
              <ma-condition-info id="hpv"
                conditionName="Human Papillomavirus (HPV)"
                detail="Most infections subclinical and will cause no physical symptoms; however, in some people subclinical infections will become clinical and may cause benign papillomas, such as warts, or cancers of the cervix, vulva, vagina, penis, oropharynx and anus. HPV can also cause cervical and other cancers."
                transmission="You can get HPV by having unprotected vaginal, anal, or oral sex with someone who has HPV."
                treatment="There is no treatment for HPV - although there is a vaccine that is safe and effective."
              >
              </ma-condition-info>
            </div>
          </template>
          <template if='{{sexualActs.length == 0}}'>
            <div id="result" flex>
              <h1>
                You are not at risk for STIs
              </h1>
              <template bind ref="condoms"></template>
            </div>
          </template>
        </div>
        <template bind ref="start-over"></template>
      </section>
    </core-animated-pages>
  </template>



  <script>
    // Helpers up here
    var conditions = ["pregnancy", "hiv", "gonorrhea", "chlamydia", "genital herpes", "syphilis", "hpv"];
    var hasPenis = function(sexes) {
      if (sexes instanceof Array) {
        return sexes.indexOf("Male") > -1 || sexes.indexOf("Intersex") > -1;
      } else {
        return sexes == "Male" || sexes == "Intersex";
      }
    };
    var hasVagina = function(sexes) {
      if (sexes instanceof Array) {
        return sexes.indexOf("Female") > -1 || sexes.indexOf("Intersex") > -1;
      } else {
        return sexes == "Female" || sexes == "Intersex";
      }
    }

    // Begin main class
    var self;
    Polymer("ma-questions", {
      ready: function() {
        self = this;
        this.started = false;
        this.resetState();
        
        // make toggle bindings for the more info
        for (var i = 0; i < conditions.length; i++) {
          var condition = conditions[i];
          this["toggle" + condition[0].toUpperCase() + condition.slice(1)] = (function(condition, self) {
            return function() {
              var expandNode = self.shadowRoot.querySelector("#" + condition + "Info");
              expandNode.toggle();
            }
          })(condition, this);
        }
      },
      resetState: function() {
        // renew all flags
        this.canBePregnant = false;
        this.canHaveHIV = false;

        // Always possible regardless of gender orientation
        this.possibleSexualActs = ["Receiving Oral", "Giving Oral"];
      },
      next: function() {
        this.$.pages.selected += 1;
      },
      start: function() {
        this.started = true;
        setTimeout(function() {
          self.next();
        }, 0);
      },
      handleSelfSex: function() {
        this.next();
      },
      handlePartnerSex: function() {

        if (hasPenis(this.selfSex)) {
          this.possibleSexualActs.push("Penetrative Partner (Anal)");
        }

        if (hasPenis(this.selfSex) && hasVagina(this.partnersSex)) {
          this.possibleSexualActs.push("Penetrative Partner (Vaginal)");
        }

        if (hasPenis(this.partnersSex)) {
          this.possibleSexualActs.push("Receiving Partner (Anal)");
          if (hasVagina(this.selfSex)) {
            this.possibleSexualActs.push("Receiving Partner (Vaginal)");
          }
        }

        // Sort the sexual acts so they always display in order in future
        this.possibleSexualActs.sort();

        var sexualActsQuestion = this.shadowRoot.querySelector("#sexualActs");
        sexualActsQuestion.rebuildOptionsRows();

        this.next();
      },
      handleSexualActs: function() {
        for (i = 0; i < this.sexualActs.length; i++) {
          var sexualAct = this.sexualActs[i];
          if (sexualAct.indexOf("Anal") > -1 || sexualAct.indexOf("Vaginal") > -1) {
            this.canHaveHIV = true;
            break;
          }
        }

        for (i = 0; i < this.sexualActs.length; i++) {
          var sexualAct = this.sexualActs[i];
          if (sexualAct.indexOf("Receiving Partner (Vaginal)") > -1) {
            this.canBePregnant = true;
            break;
          }
        }

        this.next();
      },
      startOver: function() {
        this.started = false;
        this.$.pages.selected = 0;
        this.resetState();
      }
    });

  </script>
</polymer-element>

