<link href='../bower_components/polymer/polymer.html' rel="import">
<link href='../bower_components/paper-button/paper-button.html' rel="import">
<link href='./ma-question-option.html' rel="import">

<polymer-element name="ma-question" attributes="question options selected mode">
  <template>
    <style>
      :host {
        height: 100%;
        width: 100%;
        position: relative;
      }
      #question {
        padding-top: 30px;
        padding-bottom: 30px;
        height: 80px;
        color: white;
        background-color: purple;
        width: 100%;
      }
      #responses {
        position: relative;
        top: -50px;
      }
      ma-question-option:not(:last-child) {
        margin-right: 15px;
      }
    </style>

    <div layout vertical center>
      <div id="question" layout horizontal center-justified>
        {{question}}
      </div>
      <div id="responses" layout horizontal around-justified>
        <template repeat="{{option in options}}">
          <ma-question-option class="response">
            {{option}}
          </ma-question-option>
        </template>
      </div>
    </div>
  </template>
  <script>
    Polymer("ma-question", {
      ready: function() {
        var self = this;

        // can be either 'single' or 'multiple'
        this.mode = this.mode || "single";
        this.selected = [];

        this.responses = this.shadowRoot.getElementsByClassName("response");
        var responseCallback = function(e) {
          var payload = e.detail;
          if (self.mode == "single") {
            // empty the array
            if (payload.selected == false) {
              self.selected = [];
            } else {
              for (i = 0; i < self.responses.length; i++) {
                var response = self.responses[i];
                if (response.value != payload.value) {
                  self.responses[i].selected = false;
                }
              }
              self.selected = [payload.value];
            }
          } else {
            if (payload.selected == false) {
              var index = self.selected.indexOf(payload.value);
              if (index != -1) {
                self.selected.splice(index, 1);
              }
            } else {
              self.selected.push(payload.value);
            }
          }
          console.log(self.selected);
        };
        for (i = 0; i < this.responses.length; i++) {
          var response = this.responses[i];
          response.addEventListener("selected", responseCallback);
        }
      }
    });
  </script>
</polymer-element>
