<link href='../bower_components/polymer/polymer.html' rel="import">

<polymer-element name="ma-question-option" attributes="selected">
  <template>
    <style>
      paper-button {
        height: 100px;
        width: 100px;
        background: red;
        border-radius: 50px;
        border: 10px solid white;
        text-transform: capitalize;
      }
      paper-button.active {
        background-color: white;
      }
    </style>
    <paper-button layout vertical center center-justified
      on-tap={{click}} class='{{selected ? "active" : ""}}'>
      <content></content>
    </paper-button>
  </template>
  <script>
    Polymer("ma-question-option", {
      ready: function() {
        this.selected = false;
      },
      click: function() {
        console.log("Selected");
        this.selected = !this.selected;
      }
    });
  </script>
</polymer-element>
