<link href='../bower_components/polymer/polymer.html' rel="import">
<link href='../bower_components/core-animated-pages/core-animated-pages.html' rel="import">
<link href='../bower_components/core-animated-pages/transitions/slide-from-bottom.html' rel="import">
<link href='../bower_components/paper-button/paper-button.html' rel="import">
<link href='../bower_components/paper-fab/paper-fab.html' rel="import">
<link href='../bower_components/paper-item/paper-item.html' rel="import">
<link href='../bower_components/core-icons/core-icons.html' rel="import">
<link href='../bower_components/core-collapse/core-collapse.html' rel="import">
<link href='./ma-question.html' rel="import">
<link href='./ma-condition-info.html' rel="import">


<polymer-element name="ma-questions" attributes="started">

  <template>
    <style>
      #begin {
        width: 100px;
        background: #134659;
        color: white;
      }
      :host {
        height: 100%;
        width: 100%;
        position: relative;
      }
      core-animated-pages {
        height: 100%;
        width: 100%;
        overflow: hidden;
      }
    </style>

    <template id="condoms">
      The best strategy for safer sex is to use a condom. They have been proven to be highly effective at
      both preventing STIs including HIV, as well as unplanned pregnancies.
    </template>

    <core-animated-pages id="pages" transitions="slide-from-bottom" layout vertical center center-justified>
      <section>
        <div layout vertical center>
          <div>
            Just had unsafe sex?
          </div>
          <div>
             We're here to help you decide what you need to do next to keep yourself healthy.
          </div>
          <div>
            100% Confidential
          </div>
          <paper-button id="begin" on-click={{start}}>Begin</paper-button>
        </div>
      </section>
      <template if={{started}}>
        <section>
          <ma-question
           question="Have you recently had unprotected sex?"
           options={{["Yes","No","Unsure"]}}
           chosen={{unprotectedSex}}
           mode="single"
           required={{text}}
           on-next={{next}}
          >
          </ma-question>
        </section>
      </template>
      <template if='{{unprotectedSex == "No"}}'>
        <section>
          <div layout vertical center>
            <div>
              Good job on using protection. Condoms are a highly effective tool to prevent STDs and pregnancy.
            </div>
            <paper-button on-click={{startOver}}>Start Over</paper-button>
          </div>
        </section>
      </template>
      <template if='{{unprotectedSex == "Unsure" || unprotectedSex == "Yes"}}'>
        <section>
          <ma-question
           question="What is your biological sex?"
           options={{["Male","Female","Intersex"]}}
           chosen={{selfSex}}
           mode="single"
           required=true
           on-next={{handleSelfSex}}
          >
          </ma-question>
        </section>
        <section>
          <ma-question
            question="What is the biological sex of your partner(s)?"
            options={{["Male","Female","Intersex"]}}
            chosen={{partnersSex}}
            mode="multiple"
            required=true
            on-next={{handlePartnerSex}}
          >
          </ma-question>
        </section>
        <section>
          <ma-question
            id="sexualActs"
            question="Which of these sexual acts did you engage in?"
            options={{possibleSexualActs}}
            chosen={{sexualActs}}
            mode="multiple"
            required={{false}}
            on-next={{handleSexualActs}}
          >
          </ma-question>
        </section>
      </template>
      <section>
        <template if='{{sexualActs.length > 0}}'>
          <core-animated-pages id="resultSlides" transitions="slide-from-bottom" layout vertical center center-justified>
            <section>
              <div layout vertical center>
                <h1>
                  You may be at risk of {{selfSex == "Female" ? "pregnancy and" : ""}} {{canHaveHIV ? "HIV" : "Gonorrhea"}} as well as other STIs.
                  Seeking treatment quickly can {{canBePregnant ? "prevent pregnancy," : "" }}
                  allow rapid recovery{{canHaveHIV ? ", and prevent permanent HIV infection" : "."}}
                </h1>
                <div layout horizontal>
                  <div layout vertical center>
                    <p>
                      Learn more about risks and treatment
                    </p>
                    <paper-fab icon="expand-more" on-click={{handleMoreResult}}></paper-fab>
                  </div>
                  <div layout vertical center>
                    <p>
                      Find a health clinic near you (US Only)
                    </p>
                    <a href="http://locator.aids.gov/" target="_blank">
                      <paper-fab icon="link"></paper-fab>
                    </a>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div layout vertical>
                <a layout horizontal center target="_blank" href="http://locator.aids.gov/">
                  Find a health clinic near you (US Only)
                  <paper-fab icon="link"></paper-fab>
                </a>
                <div flex layout vertical>
                  <h2>
                    You may be at risk of the following:
                  </h2>
                  <div>
                    <template if={{canBePregnant}}>
                      <paper-item on-click={{toglePregnant}}>
                        Pregnancy
                      </paper-item>
                      <core-collapse id="pregnancyInfo">
                        <p>
                          You can get pregnant each time you receive vaginal sex, even if you use condoms or other forms of birth control, and regardless of what part of your menstrual cycle you are on.
                        </p>
                        <p>
                          Within X hours, you can take an emergency contraceptive pill, also known as plan B or the morning after pill.
                        </p>
                      </core-collapse>
                    </template>
                    <template if={{canHaveHIV}}>
                      <paper-item on-click={{toggleHIV}}>
                        HIV
                      </paper-item>
                      <core-collapse id="hivInfo">
                        <ma-condition-info
                          detail="HIV is xxxx"
                          transmission="Info on transmission here"
                          treatment="You can get PEP" 
                        >
                        </ma-condition-info>
                      </core-collapse>
                      
                    </template>
                  </div>
                </div>
                <template ref="condoms"></template>
                <paper-button on-click={{startOver}}>Start Over</paper-button>
              </div>
            </section>
          </core-animated-pages>
        </template>
        <template if='{{sexualActs.length == 0}}'>
          <div id="result">
            <h1>
              You are not at risk for STIs
            </h1>
            <template ref="condoms"></template>
            <paper-button on-click={{startOver}}>Start Over</paper-button>
          </div>
        </template>
      </section>
    </core-animated-pages>
  </template>



  <script>
    var hasPenis = function(sexes) {
      if (sexes instanceof Array) {
        return sexes.indexOf("Male") > -1 || sexes.indexOf("Intersex") > -1;
      } else {
        return sexes == "Male" || sexes == "Intersex";
      }
    };
    hasVagina = function(sexes) {
      if (sexes instanceof Array) {
        return sexes.indexOf("Female") > -1 || sexes.indexOf("Intersex") > -1;
      } else {
        return sexes == "Female" || sexes == "Intersex";
      }
    }
    var toggles = {};

    var self;
    Polymer("ma-questions", {
      ready: function() {
        self = this;
        this.started = false;
      },
      next: function() {
        this.$.pages.selected += 1;
      },
      start: function() {
        this.started = true;
        setTimeout(function() {
          self.next();
        }, 0);
      },
      handleSelfSex: function() {
        this.next();
      },
      handlePartnerSex: function() {
        // Always possible regardless of gender orientation
        this.possibleSexualActs = ["Receiving Oral", "Giving Oral"];

        if (hasPenis(this.selfSex)) {
          this.possibleSexualActs.push("Penetrative Partner (Anal)");
        }

        if (hasPenis(this.selfSex) && hasVagina(this.partnersSex)) {
          this.possibleSexualActs.push("Penetrative Partner (Vaginal)");
        }

        if (hasPenis(this.partnersSex)) {
          this.possibleSexualActs.push("Receiving Partner (Anal)");
          if (hasVagina(this.selfSex)) {
            this.possibleSexualActs.push("Receiving Partner (Vaginal)");
          }
        }

        // Sort the sexual acts so they always display in order in future
        this.possibleSexualActs.sort();

        var sexualActsQuestion = this.shadowRoot.querySelector("#sexualActs");
        sexualActsQuestion.rebuildOptionsRows();

        this.next();
      },
      handleSexualActs: function() {
        this.canHaveHIV = false;
        for (i = 0; i < this.sexualActs.length; i++) {
          var sexualAct = this.sexualActs[i];
          if (sexualAct.indexOf("Anal") > -1 || sexualAct.indexOf("Vaginal") > -1) {
            this.canHaveHIV = true;
            break;
          }
        }

        this.canBePregnant = false;
        for (i = 0; i < this.sexualActs.length; i++) {
          var sexualAct = this.sexualActs[i];
          if (sexualAct.indexOf("Receiving Partner (Vaginal)") > -1) {
            this.canBePregnant = true;
            break;
          }
        }

        this.next();
      },
      startOver: function() {
        this.started = false;
        this.$.pages.selected = 0;
      },
      handleMoreResult: function() {
        var resultSlides = this.shadowRoot.querySelector("#resultSlides");
        resultSlides.selected += 1;

        var conditions = ["pregnancy", "hiv", "gonorrhea"];
        for (i = 0; i < conditions.length; i++) {
          var condition = conditions[i];
          var expandNode = this.shadowRoot.querySelector("#" + condition + "Info");
          (function(expandNode) {
            console.log(expandNode);
            toggles[condition.toLowerCase()] = function() {
              expandNode.toggle();
              console.log(expandNode);
              console.log(expandNode.toggle);
            };
            console.log(toggles);
          })(expandNode);
        }
      },
      toggleHIV: function() {
        toggles["hiv"]();
        console.log(toggles["hiv"]);
      }
    });
  </script>
</polymer-element>

